@{
    ViewData["Title"] = "Home Page";
}

@model List<Project>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<form asp-action="ChangeTextButton_Click" method="post">

    <label class="mt-4">URL</label>
    <input class="form-control" type="url" placeholder="www.google.com" name="testing_url" pattern="https://.*"/>
    
    <label class="mt-4">Token</label>
    <input class="form-control" type="text" placeholder="~sha256..." name="token" />
    
    <button class="btn btn-primary mt-4" type="submit">TEST</button>
</form>

<label id="Result_lbl" class="mt-4">@ViewBag.Result</label>

<table class="table">
    <caption>Projects</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Created</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @{
        if (Model != null && Model.Count > 0)
        {
            foreach (Project project in Model)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Title</td>
                    <td>@project.CreationDate</td>
                    <td>@project.Status</td>
                    <td>
                        <a asp-action="LoadProject" asp-route-id="@project.Id">Info</a>
                    </td>
                </tr>
            }
        }

    }
    </tbody>
</table>

